* {
    padding: 0;
    margin: 0;
}

p {
    color: blue;
}

.importante {
    background-color: yellow;
}

#titulo {
    font-size: 5em;
    color: green;
}

[type="text"] {
    border: 2px solid red;
}