p{
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}

@media screen {
    img{
        width: 200px;
        height: 200px;
        display: block;
        margin: auto;
    }
}

@media not screen {
    p, img{
        position:absolute left;
    }
}

a{
    display: block;
    text-align: center;
}

