.btn {
    width: 200px;
    height: 150px;
    border-radius: 15%;
    font-size: 40px;
    background-color: green;
    border-color: #6c757d;
}

.btn-primary {

    color: blue;
    
}

.btn-secondary {

    color: red;

}